@charset "utf-8";

/* 菜单 */
#owl_menu {
    width: 99%;
    margin-top: 5px;
}

ul.owl_menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul.owl_menu li.owl_menu_item {
    width: 60px;
    list-style: none;
    float: left;
    padding: 5px 8px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10.5pt;
    color: #15428b;
    text-align: center;
}

li.first_menu {
    margin-left: 50px;
    _margin-left: 25px;
}

/* 当前的菜单 */
.current_menu, .hover_menu {
    border: 1px solid #8db2e3;
    border-bottom: 0;
    background-color: #e4eef9;
    position: relative;
    z-index: 500;

    border-radius: 5px;
    box-shadow: 5px 1px 6px #eaeaea;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* 划过的菜单 */
.hover_menu {
    background-color: #e3eeff;
    border-bottom: none;
}

/* 容器 */
div.owl_menu_container {
    clear: both;
    position: relative;
    top: -1px;
    left: 1px;
    z-index: 300;
    background-color: #e4eef9;
    width: 100%;
    border: 1px solid #8db2e3;
    padding: 2px;

    border-radius: 5px;
    box-shadow: 5px 1px 6px #eaeaea;
}

/* box */
div.owl_menu_box {
    float: left;
    margin-right: 2px;
    border: 1px solid #a8c0d3;
    height: 78px;
    overflow: hidden;

    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

div.owl_menu_box div.owl_box_content {
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
}

div.owl_menu_box div.owl_box_title {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #c1d9f0;
    color: #3e6aaa;
    font-size: 8pt;
    font-weight: 500;
    height: 18px;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
}

.owl_box_ul {
    width: 100%;
    margin: 0;
    padding: 2px;
}

.owl_box_ul li {
    float: left;
    list-style: none;
    padding: 2px;
}

.owl_box_ul li button {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    text-indent: -9999em;
    text-indent: 0\9;
    font-size: 0\9;
}

.owl_box_ul li:hover {
    border-radius: 2px;
    background-color: #8db2e3;
}

.owl_box_ul li:active {
    border-radius: 2px;
    background-color: #c1d9f0;
}
